.bg-6 {
  width: 100%;
  height: 464px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-6__content {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bg-6 h2 {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #373737;
}

.bg-6 p {
  font-size: 14px;
  line-height: 140%;

  display: flex;
  align-items: center;
  text-align: center;

  color: #4E4E4E;
}

.download {
  display: flex;
}

.download a {
  width: 185px;
  position: relative;
}

.download a p {
  width: 126px;
  height: 100%;
  position: absolute;
  color: white;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  left: 10%;
}

.download .apple {
  margin-right: 50px;
}

.apple,
.android {
  width: 126px;
  height: 46px;
  background: #00AFDB;
}

.text-button-apple,
.text-button-android {
  width: 126px;
  height: 46px;

  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}


.icon-button-apple,
.icon-button-android {
  width: 59px;
  height: 46px;
  background: #009CC2;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 0;
}

@media (max-width: 899px) {
  .bg-6 {
    height: 350px;
  }
}

@media (max-width: 599px) {
  .bg-6 {
    height: 260px;
  }

  .bg-6__content {
    height: 100%;
    justify-content: space-around;
  }

  .download {
    flex-direction: column;
  }

  .download .apple {
    margin: 0;
  }

  .android {
    margin-top: 10px;
  }
}