footer {
  width: 100%;
  height: 185px;
  background: #000;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;
}

footer nav {
  width: 330px;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

footer ul li {
  color: white;
  cursor: pointer;
}

.footer-logo {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.copyright {
  height: 20px;
  font-size: 14px;
  line-height: 140%;

  color: #818181;
}

.get-started:hover,
.apple:hover,
.android:hover {
  background: #009CC2;
}

@media (max-width: 1199px) {

  footer nav {
    width: 260px;
  }
}

@media (max-width: 899px) {
  footer {
    height: 100px;
    justify-content: space-between;
    padding: 0 20px;
  }

  footer nav {
    width: 210px;
  }
}

@media (max-width: 599px) {

  footer {
    padding: 0 10px;
  }


  footer nav ul {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  footer nav ul li:nth-child(even) {
    display: none;
  }

  .copyright {
    font-size: 12px;
  }
}