header {
  width: 100%;
  height: 744px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header nav,
header ul {
  width: 600px;
  height: 95px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style-type: none;

  color: white;
  font-weight: 400;
  font-size: 14px;
}

header nav ul li {
  cursor: pointer;
}

.active {
  font-weight: 500;
  font-size: 14px;

  display: inline-block;
  line-height: 19.6px;

  border-bottom: 1px solid white;
}

.header-content {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 64px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.header-content__text {
  height: 50px;

  font-size: 18px;
  line-height: 140%;

  text-align: center;
  color: #FFFFFF;
}



.social {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;

  width: 170px;
  height: 20px;
  color: white;
}

@media (max-width: 1599px) {
  header {
    height: 558px;
  }
}

@media (max-width: 1199px) {
  header {
    height: 440px;
  }

  h1 {
    font-size: 30px;
  }

  .header-content {
    height: 200px;
  }

  .header-content__text {
    font-size: 15px;
  }
}

@media (max-width: 899px) {

  header {
    height: 279px;
  }

  header nav,
  header ul {
    margin-top: 2px;
    width: 500px;
    height: 50px;
  }

  h1 {
    font-size: 18px;
    letter-spacing: 2px;
  }

  .header-content {
    height: 120px;
  }

  .header-content__text {
    font-size: 13px;
  }

  .social {
    margin-bottom: 10px;
  }
}

@media (max-width: 599px) {

  header nav,
  .social {
    display: none;
  }

  header {
    height: 177px;
    justify-content: end;

    padding: 20px;
  }

  .header-content {
    height: 75px;
  }
}