/* humburger */

.hamburger {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  display: none;

  z-index: 20;
}

.hamburger>div {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.4s ease;
}

.hamburger>div::after,
.hamburger>div::before {
  position: absolute;
  content: '';
  top: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.4s ease;
}

.hamburger>div::before {
  top: -10px;
}

.hamburger:hover {
  cursor: pointer;
}

/* humburger transform */

.hamburger.active-humburger>div::after {
  background-color: rgb(201, 88, 107);
  transform: rotate(45deg);
  top: 0;
}

.hamburger.active-humburger>div::before {
  background-color: rgb(201, 88, 107);
  transform: rotate(135deg);
  top: 0;
}

.hamburger.active-humburger>div {
  background-color: transparent;
}

@media (max-width: 599px) {
  .hamburger {
    display: flex;
  }
}


/* menu */
.menu__box {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */

  position: absolute;
  top: 0;
  left: -130%;
  width: 380px;
  height: 100vh;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #2d3436;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}

.menu__item {
  display: block;
  color: #dfe6e9;
  font-family: 'Roboto', sans-serif;
}

.menu__item:first-child {
  position: absolute;
  bottom: 3vh;
  right: 3vh;
  font-size: 12px;
}

.menu__item:last-child {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu__item:hover {
  background-color: #CFD8DC;
}

.hamburger.active-humburger+.menu__box {
  left: calc(50% - 190px);

}

html.active-humburger {
  overflow: hidden;
}