* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

body::after {
  content: "big-desktop";
  font-size: 0;
}

.wrapper {
  max-width: 1600px;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

.get-started {
  border: none;

  height: 46px;
  width: 184px;
  background: #00AFDB;
  color: white;
  text-transform: uppercase;

  cursor: pointer;
}

.get-started span {
  font-weight: 700;
  font-size: 14px;
  line-height: 16, 41px;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 744px;
  background-image: url("../images/bg-image-wrapper.jpg");
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}

.background-image-two {
  position: absolute;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: -1;
}



@media (max-width: 1599px) {
  .wrapper {
    width: 1200px;
  }



  body::after {
    content: "desktop";
    font-size: 0;
  }
}

@media (max-width: 1199px) {
  .wrapper {
    width: 900px;
  }

  body::after {
    content: "laptop-portrait";
    font-size: 0;
  }
}

@media (max-width: 900px) {
  .wrapper {
    width: 600px;
  }

  .get-started {
    width: 120px;
    height: 33px;
    text-transform: none;
    font-variant: small-caps;
  }

  .get-started>span {
    font-weight: 400;
  }

  body::after {
    content: "laptop";
    font-size: 0;
  }
}

@media (max-width: 599px) {
  .wrapper {
    width: 380px;
  }

  .get-started {
    display: none;
  }

  body::after {
    content: "phone";
    font-size: 0;
  }
}