* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 1600px;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 1599px) {
  .wrapper {
    width: 1200px;
  }
}

.background-image {
  position: absolute;
  width: 100%;
  height: 744px;
  background-image: url("../images/bg-image-wrapper.jpg");
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}